<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>658328078268-6341tuioudc9fngb8ktphhpsl1ajcfrj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.658328078268-6341tuioudc9fngb8ktphhpsl1ajcfrj</string>
	<key>API_KEY</key>
	<string>AIzaSyAWgAINAiZHZYFCHVkxMoSpynT10H-1bLI</string>
	<key>GCM_SENDER_ID</key>
	<string>658328078268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Filter-It</string>
	<key>PROJECT_ID</key>
	<string>filter-pro</string>
	<key>STORAGE_BUCKET</key>
	<string>filter-pro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658328078268:ios:c23f5eeb89c40450198db9</string>
</dict>
</plist>